/* Container class */

.container {
  max-width: 900px;
  margin: 0 auto;

  &.container-sm {
    max-width: 782px;
  }
  &.container-md {
    max-width: 1280px;
  }
  &.container-lg {
    max-width: 1440px;
  }
}

.d-flex {
  @include displayFlex();
  &.flex-column {
    @include displayFlex(column);
  }
}

.d-grid {
  display: grid;
  // include the grid mixin
}

/* Text alignment classes */

@each $text-name, $align in $text-align-map {
  .text-#{$text-name} {
    text-align: $align;
  }
}

/* Font size classes */

@each $size-name, $size in $size-map {
  .fs-#{$size-name} {
    @if $size-name == block {
      font-size: null;
    } @else {
      font-size: $size * 1rem;
    }
  }
}

/* Padding classes */

.p-auto {
  padding: auto
}

@each $padding-name, $padding in $distance-map {
  .p-#{$padding-name} {
    padding: $padding;
  }
  .pt-#{$padding-name} {
    padding-top: $padding;
  }
  .pr-#{$padding-name} {
    padding-right: $padding;
  }
  .pb-#{$padding-name} {
    padding-bottom: $padding;
  }
  .pl-#{$padding-name} {
    padding-left: $padding;
  }
  .px-#{$padding-name} {
    padding-left: $padding;
    padding-right: $padding;
  }
  .py-#{$padding-name} {
    padding-top: $padding;
    padding-bottom: $padding;
  }
}

/* Margin classes */

.m-auto {
  margin: auto
}

@each $margin-name, $margin in $distance-map {
  .m-#{$margin-name} {
    margin: $margin;
  }
  .mt-#{$margin-name} {
    margin-top: $margin;
  }
  .mr-#{$margin-name} {
    margin-right: $margin;
  }
  .mb-#{$margin-name} {
    margin-bottom: $margin;
  }
  .ml-#{$margin-name} {
    margin-left: $margin;
  }
  .mx-#{$margin-name} {
    margin-left: $margin;
    margin-right: $margin;
  }
  .my-#{$margin-name} {
    margin-top: $margin;
    margin-bottom: $margin;
  }
}

/* Title and subtitle classes */

// Title class

.title {
  @include title;
  &-larger {
    @include title(5rem, 600, 4)
  }
}

// Subtitle class

.subtitle {
  @include subtitle;
}

/* Text colors */

@each $color-name, $color in $colors-map {
  .text-#{$color-name} {
    color: $color;
  }
}

/* Background colors */

@each $color-name, $color in $colors-map {
  .bg-#{$color-name} {
    background-color: $color;
  }
}