// Main Colors

$primary-color: #7633f9;
$secondary-color: #ff9800;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$accept-color: #284ea7;

// Social media colors

$facebook-light-color: #1877f2;
$facebook-dark-color: #3b5998;
$twitter-color: #1da1f2;
$google-color: #db4437;
$instagram-color: #e1306c;
$youtube-color: #ff0000;
$whatsapp-color: #25d366;

// Font sizes

$sm: 0.75;
$md: 1;
$lg: 1.25;
$xl: 2.5;
$xxl: 3.75;

// Font families

$ff-roboto: "Roboto", sans-serif;
$ff-poppins: "Poppins", sans-serif;
$ff-lato: "Lato", sans-serif;
$ff-raleway: "Raleway", sans-serif;
$ff-openSans: "Open Sans", sans-serif;
